.background-image{
    background-image: url('https: //i.ibb.co/cX0MFNx/banner-bg.jpg');
            background-repeat: no-repeat;
            background-position: cover;
            height: 90vh;
}



